body {
  margin: 0;
  background-color: #383838;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


h1, p {
  text-align: center;
}

h1 {
  color: #FFFFFF;
}

p {
  color: #D3D3D3;
  margin-top: -16px;
  font-size: 1.2em;
}

.info-window {
  position: absolute;
  top: 60px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: rgba(127, 124, 124, 0.4);
  border-radius: 10px;
}

.info-window p {
  font-size: 1.2rem; 
  color: #fcf9f9;
}

.info-window a {
  font-size: 1.2rem;
  color: rgb(50, 120, 242);
  text-decoration: none;
}

.map-container {
  margin: auto;
  margin-top: 40px;
  width: 80%;
  height: 550px;
  border-radius: 15px;
}

@media only screen and (max-width: 426px) {
    .map-container {
      width: 90%;
    }
}