body {
  margin: 0;
  background-color: #1a1a1a; 
  font-family: Roboto, sans-serif;
}

h1,
p {
  text-align: center;
  color: #ffffff;
}

h1 {
  font-size: 2.5em; 
  font-weight: 500;
}

p {
  margin-top: -16px;
  font-size: 1.2em;
}

.map-container {
  margin: auto;
  margin-top: 40px;
  width: 80%;
  height: 550px;
  border-radius: 15px;
}

.save-to-stores-button {
  padding: 10px 15px; 
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007bff; 
  color: #ffffff;
  transition: background-color 0.2s ease-in-out; 
}

.store-directions-link:hover {
  color: #f09292;
}

.info-window {
  position: absolute;
  top: 60px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(7, 7, 7, 0.9);
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.info-window h3 { 
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.info-window p { 
  margin: 0 0 8px 0;
  font-size: 1rem;
  color: #e0e0e0;
}

.info-window a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 15px;
  transition: color 0.2s ease-in-out;
}

.close-btn {
  align-self: flex-end;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.footer-container {
  text-align: center;
  margin-top: 40px;
}

.footer-text {
  color: #888888;
  font-size: 0.8rem;
}

.footer-text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.footer-text a:hover {
  transition: color 0.2s ease-in-out;
  color: #61afef;
}
